    body{
    --color-primary:#009579;
    --color-primary-dark:#007f67;
    --color-secondary:#252c6a;
    --color-error:#cc3333;
    --color-success:#4bb544;
    --border-radius:4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: var(--color-primary);
    background-size: cover;
}

.container{
    width: 400px;
    max-width: 400px;
    /* 1rem here is equal to the font size of 18px */
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background: #ffffff;
}
.container,
.form__input,
.form__button{
    font: 500 1rem 'Quicksand', sans-serif;
}
/* Establishes the class of hidden so only one form shows at once */
.form--hidden{
    display: none;
}
/* What we are doing here is take the top margin of the child and the bottom margin of the bottom child and 
removing them so they don't clash with the container margin. I'm not sure as to why this is exactly as I
thought margins collapsed */

.form > *:first-child{
    margin-top: 0;
}
.form > *:last-child{
    margin-bottom: 0;
}

.form__title{
    margin-bottom: 2rem;
    text-align: center;
}


.form__message{
    text-align: center;
    margin-bottom: 1rem;
}


.form__message--success{
    color: var(--color-success);
}
.form__message--error{
    color: var(--color-error);
}

.form__input-group{
    margin-bottom: 1rem;
}
/* The transition below will be relevant to when javascript determines something is an error and put it in 
error mode */
.form__input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}
.form__input:focus{
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error{
    color: var(--color-error);
    border-color: var(--color-error);
}
.form__input--error-message{
    margin-top: 0.5rem;
    font-size: 0.5rem;
    color: var(--color-error);
}

.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover{
    background-color: var(--color-primary-dark);
}
/* this is for when button clicked */
.form__button:active{
    transform: scale(0.98);
}


.form__text{
    text-align: center;
}
.form__link{
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}
/* This is a nice touch */
.form__link:hover{
    text-decoration: underline;
}